.Home {
  overflow: hidden auto;
  height: 100%;
  background: linear-gradient(#ffd8e9 0 50%, #ffb7c3 50% 100%);
  color: #2a1e36;
  scroll-behavior: smooth; /* stylelint-disable-line plugin/no-unsupported-browser-features */
  overscroll-behavior: contain; /* stylelint-disable-line plugin/no-unsupported-browser-features */

  & > .body {
    display: flex;
    flex-flow: column;
    row-gap: 2rem;
    background: #ffd8e9;

    & > .intro {
      background-size: cover;

      & > div {
        position: relative;
      }

      &.top {
        height: 35rem;
        background-position: center;
        filter: drop-shadow(0 0 0.5rem #443850);

        & > div {
          top: 28rem;
        }
      }

      &.bottom {
        height: 30rem;
        background-position: center;
        filter: drop-shadow(0 0 0.3rem #443850);

        & > div {
          top: 4rem;
        }
      }
    }

    & > .card {
      display: flex;
      flex-flow: column;
      row-gap: 1rem;
      width: clamp(45%, 70rem, 90%);
      margin: auto;
      padding: 1rem;
      border: solid 1px #443850;
      border-radius: 12px;
      background: #ffb7c3;

      & > h2 {
        margin: 1rem 0;
        color: #443850;
        font-weight: 400;
        font-size: 3.3rem;
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-align: center;
      }

      & > div {
        font-size: 1.1rem;
      }
    }
  }

  button {
    width: 100%;
    max-width: 14rem;
    margin: auto;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 12px;
    background: #42213d;
    color: white;
    font-size: 1.15rem;
    cursor: pointer;
  }
}
