.Home {
  overflow: hidden auto;
  height: 100%;
  background: linear-gradient(#443850 0 50%, #ffb7c3 50% 100%);
  color: #2a1e36;
  scroll-behavior: smooth; /* stylelint-disable-line plugin/no-unsupported-browser-features */
  overscroll-behavior: contain; /* stylelint-disable-line plugin/no-unsupported-browser-features */

  & > .intro {
    background-size: cover;

    & > div {
      position: relative;
    }

    &.top {
      height: 35rem;
      background-position: center;
      filter: drop-shadow(0 0 0.5rem #443850);

      & > div {
        top: 31.9rem;
      }
    }

    &.bottom {
      height: 25rem;
      background-position: center;
      filter: drop-shadow(0 0 0.3rem #443850);
    }
  }

  & > .card {
    border: solid 1px #443850;
    background: #ffb7c3;

    & > div {
      display: flex;
      flex-flow: column;
      row-gap: 1rem;
      width: clamp(45%, 70rem, 100%);
      margin: auto;
      padding: 2rem;
      font-size: 1.1rem;

      & > h2 {
        margin: 1rem 0;
        color: #443850;
        font-weight: 400;
        font-size: 3.3rem;
        font-family: 'Allexis', serif;
        text-align: center;
      }
    }
  }

  & > .card-donate {
    padding: 2rem 0.5rem;
    background: #443850;
    color: #fff;
    font-size: 1.1rem;
    text-align: center;

    & > iframe {
      width: 45rem;
      max-width: 100%;
      border: none;
      // height: min(calc(56.25vw - 1.125rem), 25.3125rem); // Replace aspect-ratio with this to support iOS <15
      border-radius: 12px;
      filter: drop-shadow(0 0 0.5rem #2a1e36);
      aspect-ratio: 16/9;
    }

    & > form {
      display: flex;
      margin-bottom: 1.7rem;

      & > .btn-donate {
        width: 100%;
        max-width: 14rem;
        margin: auto;
      }
    }
  }
}
