.IconRow {
  display: flex;
  justify-content: space-around;
  width: min(66rem, calc(100vw - 4rem));
  margin: auto;
  padding: 0.3rem;
  border: #443850 solid 1px;
  border-radius: 10px;
  background: #44385070;
  filter: drop-shadow(0 0 0.75rem #443850);
  transform: scale(1);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);

  & > a {
    transition: transform 0.1s ease-in-out;

    & > svg,
    & > img {
      height: 2.2rem;
      filter: drop-shadow(0 0 0.2rem #443850);
      fill: #ffb7c3;
      transition: all 0.2s ease-out;

      @media screen and (max-width: 600px) {
        height: 1.75rem;
      }

      & > path {
        fill: #fff;
      }

      & > rect,
      & > circle {
        fill: none;
        stroke: #fff;
      }
    }

    &:hover {
      transform: scale(1.05);

      & > svg {
        filter: drop-shadow(0 0 0.7rem #443850);
        fill: #fff;

        & > path {
          fill: #ffb7c3;
        }

        & > rect,
        & > circle {
          stroke: #ffb7c3;
        }
      }
    }
  }
}
