@font-face {
  font-style: normal;
  font-family: 'Allexis';
  src:
    local('Allexis'),
    url('@/assets/Allexis.ttf') format('truetype');
}

@font-face {
  font-style: normal;
  font-family: 'Montserrat';
  src:
    local('Montserrat'),
    url('@/assets/Montserrat.ttf') format('truetype');
}

* {
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
}

.App {
  display: flex;
  flex-flow: column;
  overflow: hidden;
  height: 100%;
}
